body {
	background-color:lightgoldenrodyellow;
}

body 
h1{
	color: deeppink;
	font-size:x-large;
	text-decoration:underline;
	font-family: "roboto",sans-serif;
}
h2	{
	color: coral;
	font-family: "italic";
	font-weight: 20;
	letter-spacing: "5px";
	font-weight:50;
	letter-spacing: 5px;
	font-size: "12px";
}
h3	{
	color: coral;
	font-family: "italic";
	font-weight: 20;
	letter-spacing: "5px";
	font-size: "12px";
}

body
 h4{
 	color: coral;
	font-family: "italic";
	font-weight: 20;
	letter-spacing: "5px";
	font-size: "12px";
 }
	

h5	{
	color: coral;
	font-family: "italic";
	font-weight: 20;
	letter-spacing: "5px";
	font-size: "12px";
}

h6	{
	color: deeppink;
	font-style: italic;
}
h6	{
	color: deeppink;
	font-style: italic;